.homeButton {
    -fx-background-radius: 20px;
    -fx-border-radius: 18px;
    -fx-border-color: #bd93f9;
    -fx-border-width: 2px;
}

.mergeIcon{
    -fx-shape: "m256-120-56-56 193-194q23-23 35-52t12-61v-204l-64 63-56-56 160-160 160 160-56 56-64-63v204q0 32 12 61t35 52l193 194-56 56-224-224-224 224Z";
    -fx-background-color: WHITE;
}