.homeButton {
    -fx-background-radius: 20px;
    -fx-border-radius: 18px;
    -fx-border-color: #bd93f9;
    -fx-border-width: 2px;
    -fx-alignment: TOP_CENTER;
    -fx-content-display: TOP;
    -fx-padding: 50 10 10 10;
}

.merge{
    -fx-shape: "m256-120-56-56 193-194q23-23 35-52t12-61v-204l-64 63-56-56 160-160 160 160-56 56-64-63v204q0 32 12 61t35 52l193 194-56 56-224-224-224 224Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.split{
    -fx-shape: "M440-160v-304L240-664v104h-80v-240h240v80H296l224 224v336h-80Zm154-376-58-58 128-126H560v-80h240v240h-80v-104L594-536Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.protect{
    -fx-shape: "M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.unlock{
    -fx-shape: "M240-160h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM240-160v-400 400Zm0 80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h280v-80q0-83 58.5-141.5T720-920q83 0 141.5 58.5T920-720h-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80h120q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.metadata{
    -fx-shape: "M312-240q-51 0-97.5-18T131-311q-48-45-69.5-106.5T40-545q0-78 38-126.5T189-720q14 0 26.5 2.5T241-710l239 89 239-89q13-5 25.5-7.5T771-720q73 0 111 48.5T920-545q0 66-21.5 127.5T829-311q-37 35-83.5 53T648-240q-66 0-112-30l-46-30h-20l-46 30q-46 30-112 30Zm0-80q37 0 69-17.5t59-42.5h80q27 25 59 42.5t69 17.5q36 0 69.5-12.5T777-371q34-34 48.5-80t14.5-94q0-41-17-68.5T769-640q-3 0-22 4L480-536 213-636q-5-2-10.5-3t-11.5-1q-37 0-54 27t-17 68q0 49 14.5 95t49.5 80q26 25 59 37.5t69 12.5Zm49-60q37 0 58-16.5t21-45.5q0-49-64.5-93.5T239-580q-37 0-58 16.5T160-518q0 49 64.5 93.5T361-380Zm-6-60q-38 0-82.5-25T220-516q5-2 11.5-3.5T245-521q38 0 82.5 25.5T380-444q-5 2-11.5 3t-13.5 1Zm244 61q72 0 136.5-45t64.5-94q0-29-20.5-46T721-581q-72 0-136.5 45T520-442q0 29 21 46t58 17Zm6-61q-7 0-13-1t-11-3q8-26 52.5-51t82.5-25q7 0 13 1t11 3q-8 26-52.5 51T605-440Zm-125-40Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.pdftojpeg{
    -fx-shape: "M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.rotate{
    -fx-shape: "M522-80v-82q34-5 66.5-18t61.5-34l56 58q-42 32-88 51.5T522-80Zm-80 0Q304-98 213-199.5T122-438q0-75 28.5-140.5t77-114q48.5-48.5 114-77T482-798h6l-62-62 56-58 160 160-160 160-56-56 64-64h-8q-117 0-198.5 81.5T202-438q0 104 68 182.5T442-162v82Zm322-134-58-56q21-29 34-61.5t18-66.5h82q-5 50-24.5 96T764-214Zm76-264h-82q-5-34-18-66.5T706-606l58-56q32 39 51 86t25 98Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.swap{
    -fx-shape: "M320-440v-287L217-624l-57-56 200-200 200 200-57 56-103-103v287h-80ZM600-80 400-280l57-56 103 103v-287h80v287l103-103 57 56L600-80Z";
    -fx-background-color: WHITE;
    -fx-pref-height: 62px;
    -fx-pref-width: 48px;
}

.dragAndDropArea{
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-style: segments(10, 10) line-cap round;
}

.dragAndDropInfo{
    -fx-padding: 30 10 10 10;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-fg-default;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 1);
}

.footer{
    -fx-padding: 10 10 10 10;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}